DATABASE_URL=postgresql+psycopg2://postgres:31415@localhost:5432/coffee_app
GOOGLE_CLIENT_ID=883741268182-tosdv2esi7k9ttkaf8p3q5ch098r8ert.apps.googleusercontent.com
GOOGLE_CLIENT_IDS=your-google-web-client-id.apps.googleusercontent.com,your-google-android-client-id.apps.googleusercontent.com
