REACT_NATIVE_PACKAGER_HOSTNAME=192.168.0.191
EXPO_PUBLIC_API_URL=http://192.168.0.191:8000
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-google-android-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_REDIRECT_URI=https://auth.expo.io/@your-expo-username/coffee-assistant-mobile
EXPO_PUBLIC_SCALE_API_URL=http://192.168.0.50
